<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="accountDao" class="beans.AccountDaoInMemoryImpl">
<!--      	<property name="accountsMap">
 			<map>
 				<entry key="1" value-ref="account1"/>
 				<entry key="2" value-ref="account2"/>
 			</map>
 		</property>      -->   
	</bean>

	<bean id="accountService" class="beans.AccountServiceImpl">
			<constructor-arg ref="accountDao" />
<!-- 	<property name="accountDao" ref="accountDao" /> -->
	</bean>
</beans>
